<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- stdoutLogEnabled is TEMPORARY: it is here to diagnose the APNs VoIP
           certificate loading on the host. Set it back to "false" once the issue
           is resolved - these log files grow indefinitely and are never rotated. -->
      <aspNetCore processPath="dotnet"
                  arguments=".\Gated_System.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
